{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}

{% block main %}
<div class="card border-primary m-auto mb-3" style="max-width: 30rem">
  <div class="card-header text-center">Change Password</div>
  <div class="card-body">
    <form method="post" action="{% url 'account_change_password' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="form-control btn btn-primary">CHANGE PASSWORD</button>
    </form>
  </div>
</div>

{% endblock %}