{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  {% if token_fail %}
    Bad Token
  {% else %}
    Change Password
  {% endif %}
{% endblock %}

{% block main %}
<div class="card border-primary m-auto mb-3" style="max-width: 30rem">
  <div class="card-header text-center">
    {% if token_fail %}
      Bad Token
    {% else %}
      Change Password
    {% endif %}
  </div>
  <div class="card-body">
    {% if token_fail %}
      <p class="card-text">
        The password reset link was invalid, possibly because
        it has already been used. Please request a
        <a href="{% url 'account_reset_password' %}">new password reset</a>.
      </p>
    {% else %}
      <form method="post" class="m-auto">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="form-control btn btn-primary">CHANGE PASSWORD</button>
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}