{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block main %}
<div class="card border-primary m-auto mb-3" style="max-width: 30rem">
  <h4 class="card-header text-center">Sign Up</h4>
  <div class="card-body">
    <form method="post" class="m-auto mb-2">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="form-control btn btn-primary">SIGN UP!</button>
    </form>
  </div>
  <div class="card-footer py-2">
    <a href="{% url 'account_login' %}">Already have an account? Log in!</a>
  </div>
</div>
{% endblock %}