{% extends "_base.html" %}
{% load static %}
{% load common_tags %}

{% block title %}Home{% endblock %}
{% block main %}
<script>
  window.onload = function () {
    openBootstrapPopup();
    modalButtonFocus();
  };
  function openBootstrapPopup() {
    if (document.cookie.indexOf("FooBar=true") == -1) {
      document.cookie = "FooBar=true; max-age=18000"; // 86400: seconds in a day
      $("#welcome-note").modal('show');
    }
  };
  function modalButtonFocus() {
    const $modal = $("#welcome-note"),
    $modalClose = $("#close-modal-button");
    $modal.on("shown.bs.modal", function() {
        document.activeElement.blur();
        $modalClose.focus();
    });
  }
</script>
<section class="home-page-section">
  <section id="" class="container mt-4" style="">
    <div id="welcome-div" class="row position-relative bg-dark bg-opacity-25 rounded border-0" style="height:24vh">
      <a id="flag-div" class="position-absolute w-auto" style="top:-.1rem;left:1rem" data-bs-toggle="modal"
        data-bs-target="#welcome-note" href="#">
        <img id="flag" src="{% static 'images/swallowtail_flag_down_cmpr.png' %}"
        style="box-shadow:-1px -1px 2px #8424246b;width:3.5rem;opacity:0.90"/>
        <img id="alert" src="{% static 'images/alert_filled.png' %}" class="position-absolute start-0"
        style="width:2rem!important"/>
      </a>
      <div class="d-flex justify-content-evenly">
        <div id="welcome-button" class="col-4 align-items-center rounded bg-info bg-opacity-50 my-3">
          <form action="{% url 'play:play' %}" class="h-100">
            <button id="" class="border-0 bg-transparent h-100" style="">
              <img src="{% static 'images/play_games_button_trn_white.png' %}" alt="play_games_button_image"
              class="img-fluid px-5 col-12 col-xl-9 col-xxl-10" style=""/>
            </button>
          </form>
        </div>
        <div id="welcome-button" class="col-4 align-items-center rounded bg-success bg-opacity-50 my-3">
          <form action="{% url 'games:list' %}" class="h-100">
            <button id="" class="border-0 bg-transparent h-100" style="">
              <img src="{% static 'images/checkered_flags_leaderboards.png' %}" alt="play_games_button_image"
              class="img-fluid px-5 col-12 col-xl-9 col-xxl-10" style=""/>
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="review-carousel-section bg-dark bg-opacity-25 my-3">
    {% review_carousel %}
  </section>
  <section id="high-scores-section">
    <div class="bg-success bg-opacity-75 py-3
    border-top border-bottom border-success border-2">
      <div class="container-fluid pb-4 bg-info bg-opacity-25">
        <h3 class="text-center pt-3">High Scores:</h3>
        <div class="d-flex justify-content-center">
          <div class="row justify-content-center w-75">
            <div class="col-sm-5 col-xl-4 col-xxl-3 text-sm-start mt-1 mt-sm-auto me-sm-4 ps-5 ps-sm-0">
              {% angr_leader %}
            </div>
            <div class="col-sm-5 col-xl-4 col-xxl-3 text-sm-end mt-3 mt-sm-auto ms-sm-4 ps-5 ps-sm-0">
              {% math_leader %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<div class="modal fade" id="welcome-note">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
      <div class="modal-header text-center">
        <h4 class="h4 modal-title w-100 fw-normal"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body mx-4 my-4 text-dark">
        <p>Welcome to my demo website.</p>
        <p>This site was created using Django Python. The games are written in Vue.js.</p>
        <p>
          Users can create accounts, play games, track their scores, check leaderboards, submit reviews, apply for
          faux-jobs for a faux-company called "Play2Learn", and more.
        </p>
        <p>
          My goal here is to demonstrate a scalable, seamless integration between multiple frameworks and languages.
        </p>
        <p>
          Click the "Play Games" button to choose a Vue.js game.
          If you are logged-in, your scores will be uploaded to an SQL database
          and can be immediately viewed on the "My Game Tracking" page.
          Top scores will be included on the "Leaderboard" page. Among other features,
          you can also leave a review which will show up in the carousel below once it is approved.
          If you would like superuser access to see the SQL back end via Django Admin, let me know.
          The full source code for the entire website is also available in my Github portfolio (link below).
        </p>
        <p>Thank you,</p>
        <p class="my-0">Ryan Levee</p>
        <p class="my-0">847-208-9503</p>
        <p class="mt-0 text-info">
          <a href="https://linkedin.com/in/ryanlevee" target="_blank" rel="noreferrer noopener">
            <i class="fa-brands fa-linkedin"></i> LinkedIn</a>
          <span class="text-dark"> | </span>
          <a href="https://github.com/ryanlevee" target="_blank" rel="noreferrer noopener">
            <i class="fa-brands fa-github"></i> Github</a>
        </p>
        <button id="close-modal-button" type="button" class="row mx-auto py-2 px-4 rounded border-0 "
        data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
