{% extends "_base.html" %}
{% load static %}
{% load common_tags %}

{% block title %}Home{% endblock %}
{% block main %}
 <main class="position-relative mt-2">
  <div class="bg-success bg-opacity-75 py-3 border-top
    border-bottom border-success border-2">
    <div class="d-flex flex-column py-1 pb-0
      bg-info bg-opacity-25 mx-auto">
      <h2 class="home-container fw-normal display-6
        text-uppercase text-center my-2">Welcome!</h2>
    </div>
  </div>
    <a href="{% url 'play:play' %}">
      <div class="play-games-button-div my-3 mx-auto py-4 text-center rounded">
        <div class="mx-auto w-25">
          <img src="{% static 'images/play_games_button_trn2.png' %}"
            alt="play_games_button" class="w-100"/>
        </div>
      </div>
    </a>
  <section class="bg-dark bg-opacity-25">
    {% review_carousel %}
  </section>
  <section>
    <div class="py-2 bg-secondary"></div>
    <div class="bg-success bg-opacity-75 py-3
      mb-2 border-top border-bottom border-success border-2">
      <div class="main-container pb-4 d-flex
        flex-column bg-info bg-opacity-25">
        <h3 class="text-center mt-3">High Scores:</h3>
        <div class="container-fluid d-flex">
          <div class="row justify-content-center w-100">
            <div class="col-3" style="width:20%">
              {% angr_leader %}
            </div>
            <div class="col-3 text-end" style="width:20%">
              {% math_leader %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
