{% extends "_base.html" %}
{% load static %}
{% load common_tags %}

{% block title %}Home{% endblock %}
{% block main %}
<style>
  .home-page-section > section {
    margin: 0 0 1.1% 0
  }
  {% comment %}
  * {
    outline: 1px solid gray!important;
  }
  {% endcomment %}
</style>

<div class="modal position-static d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<section class="home-page-section">
 <section class="welcome">
    <div class="bg-success bg-opacity-75 py-3 border-top
      border-bottom border-success border-2">
      <div class="d-flex flex-column py-1 pb-0
        bg-info bg-opacity-25 mx-auto">
        <h2 class="home-container fw-normal display-6
          text-center my-2">Demo Site by Ryan Levee</h2>
      </div>
    </div>
  </section>
  <section class="play-games-button-section">
    <div class="container mx-auto">
      {% comment %} <div class="row" {% endcomment %}
      <form action="{% url 'play:play' %}" class="row">
        <button class="play-games-button col-7 mx-auto py-4 rounded border-0"
          style="background-color:#ffbd5a;">
          <img src="{% static 'images/play_games_button_trn2.png' %}"
            alt="play_games_button_image" class="img-fluid col-10 col-lg-3 col-sm-5" />
        </button>
      </form>
    </div>
  </section>
  <section class="review-carousel-section bg-dark bg-opacity-25">
    {% review_carousel %}
  </section>
  <section class="high-scores-section">
    {% comment %} <div class="py-2 bg-secondary"></div> {% endcomment %}
    <div class="bg-success bg-opacity-75 py-3 mb-2
      border-top border-bottom border-success border-2">
      <div class="main-container container-fluid pb-4
        bg-info bg-opacity-25">
        <h3 class="text-center pt-3">High Scores:</h3>
        <div class="d-flex justify-content-center">
          <div class="row justify-content-center">
            <div class="col-sm-5 text-center text-sm-start mt-1 mt-sm-auto me-4">
              {% angr_leader %}
            </div>
            <div class="col-sm-5 text-center text-sm-end mt-3 mt-sm-auto ms-4">
              {% math_leader %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
{% endblock %}
