* {
  padding: 0;
  margin: 0;
  text-decoration: none!important;
  /* outline: 1px solid darkgray; */
}

#alert {
  filter: invert(99%)sepia(149%)saturate(2391%)hue-rotate(55deg)brightness(99%)contrast(80%)!important;
  -webkit-filter: invert(99%)sepia(149%)saturate(2391%)hue-rotate(55deg)brightness(99%)contrast(80%)!important;
  -moz-filter: invert(99%)sepia(149%)saturate(2391%)hue-rotate(55deg)brightness(99%)contrast(80%)!important;
  -ms-filter: invert(99%)sepia(149%)saturate(2391%)hue-rotate(55deg)brightness(99%)contrast(80%)!important;
  -o-filter: invert(99%)sepia(149%)saturate(2391%)hue-rotate(55deg)brightness(99%)contrast(80%)!important;
  right:-15%!important;
  top:25%!important;
  width:60%!important;
}

.navbar li {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.navbar li a {
  padding-top: .75rem!important;
  padding-bottom: .75rem!important;
}

a {
  color: inherit!important;
}

.card {
  border: 1px solid rgb(189, 189, 189)!important;
}

.card,
.card .form-label {
  background-color: #ccd3da!important;
}

.card-header {
  font-weight: normal;
}

.card {
  color: black
}

.mb-3 {
  margin-top: 1rem;
}

.p-5 {
  padding: 2rem!important;
}

form * {
  margin:0!important;
}

.form-label {
  margin-bottom: 4px!important;
  overflow: auto;
}

.form-label {
  content: "";
  clear: both;
  display: table;
}

#div_id_username {
  margin-bottom: 2px!important;
}

#hint_id_username {
  font-size: .75rem!important;
}

.form-check {
  margin: .4px 0!important;
  padding-right: 2px!important;
  padding-left: 10px!important;
}

.form-check-label {
  margin-left: 5px!important;
  vertical-align: middle!important;
}

.form-check-input {
  margin-top: 7px!important;
}

.selectdatewidget  {
  margin: 5px 5.26px!important;
}

#welcome {
  text-shadow: 1px 1px black;
}

#high-scores-section {
  font-family: var(--bs-font-monospace);
  text-shadow: none;
}

.game-title,
.player {
  /* font-family: var(--bs-body-font-family); */
  text-shadow: 1px 1px rgb(51, 51, 236);
}

.game-title:hover,
.player:hover {
  /* font-family: var(--bs-body-font-family); */
  text-shadow: 1.45px 1.45px rgb(51, 51, 236);
}

button:hover,
form:hover button {
  background-color: none !important;
}

.dropdown  {
  list-style: none!important;
}

@media (max-width:1280px) {
  .navbar-nav a {
    font-size: large!important;
  }
}

@media (max-width:832px) {
  .navbar-nav a {
    font-size: medium!important;
  }
}

.nav-item .dropdown-menu *:hover,
.dropup .dropdown-menu *:hover,
.dropup li:hover,
.navbar li:hover,
nav form:hover,
tr:hover {
  background-color: rgb(42, 45, 70) !important;
}

.dropdown-menu,
li:hover ul li a {
  background-color: #484D53!important;
}

#close-modal-button {
  background-color: rgb(25, 135, 84, 0.25);
  box-shadow: 1px 1px 0.5px rgba(25, 135, 84, 0.35)!important;
}

#close-modal-button:hover {
  background-color: rgba(25, 135, 84, 0.5);
  /* box-shadow: inset 1px 1px rgb(25, 135, 84, 0.75)!important; */
}

#close-modal-button:active {
  box-shadow: inset 1.25px 1.25px rgb(25, 135, 84, 0.5)!important;
}

table tr:hover {
  background-color: skyblue!important;
}

tr a:hover {
  color: hsl(198, 63%, 38%)!important;
}
/*
.message {
  background-color: palegoldenrod;
  color: black;
}

.messagedebug {
  background-color: slategray;
  color: white;
}
.messageinfo {
  background-color: azure;
  color: darkblue;
}

.messagesuccess {
  background-color: lightgreen;
  color: darkgreen;
}

.messagewarning {
  background-color: lightgoldenrodyellow;
  color: darkgoldenrod;
}

.messageerror {
  background-color: pink;
  color: darkred;
}
*/

#review-slideshow p {
  font-size: 1.2rem!important;
  text-shadow: .43px 1px rgb(33, 37, 75)!important;
}

.review-message {
  padding-top: .5rem!important;
  font-style: italic;
}

.review-user {
  padding-bottom: 1rem!important;
}

.carousel-indicators {
  margin: 0 1.3rem 1.5rem 0 !important;
}

.play-games-div,
.play-games-button {
  transition: transform .3s;
}

.play-games-div:hover,
.play-games-button:hover {
  transform: scale(1.02);
}

.play-games-button img {
  transition: transform .3s;
}
.play-games-button:hover img {
  transform: scale(1.07);
}