{% extends "_base.html" %}
{% load static %}
{% load common_tags %}

{% block title %}About{% endblock %}
{% block main %}
  <section id="about" class="container-sm mt-4 px-5">
    <div class="pb-1 px-0 bg-secondary bg-opacity-10 justify-content-center">
      <h1 class="py-2 px-5 fw-normal bg-secondary bg-opacity-25 w-100">About Us</h1>
      <p class="pt-2 px-5 fw-light">
        Arabica ipsum, organic eu filter latte, coffee aged plunger pot sugar, chicory, cremae crema, whipped sit macchiato aftertaste strong blue mountain. Est single origin brewed trifecta, est, kopi-luwak, creamur, barista java, crema qui percolator est cappuccino robusta chicory strong crema aroma dolore americano french press doppio. Togo poculum percolator qui aged instant, breve, skinny at, half et half arabica aged macchiato in aromatic at cinnamon. Siphon, dark, java, poculumqua sit barista ut, acerbic id et black sit so cortado, et, macchiato seasonal kopi-luwak ristretto viennese siphon.
      </p>
      <p class="pb-2 px-5 fw-light">
        Lorem crema, single origin percolator, rich lungo et trifecta body breve shop aroma robust as cultivar. Decaffeinated body siphon white cremae, con panna, affogato et, redeye, eu barista saucer carajillo percolator a, iced in dripper cream redeye saucer. Eu at sweet coffee cappuccino, iced, decaffeinated, percolator kopi-luwak et dark robusta galão saucer dripper. poculum est barista aromatic fair trade, acerbic dripper, carajillo skinny, mocha froth sugar saucer cultivar as single shot mazagran that. Milk redeye siphon mazagran skinny, frappuccino café au lait pumpkin spice frappuccino trifecta bar viennese pumpkin spice seasonal aftertaste that. Wings, shop percolator turkish, milk con panna flavour percolator caffeine breve cream galão mazagran. Frappuccino dark foam robusta, pumpkin spice, café au lait, aroma lungo aged, percolator, breve coffee arabica in spoon eu dripper coffee as redeye.
      </p>
    </div>
  </section>
  <section id="team" class="bg-secondary bg-opacity-25 mb-5 text-dark">
    <div class="container-md mx-auto gx-3">
      <div class="row">
        <div class="col-lg-6 my-4">
          <div class="col-lg m-sm-1 p-2 p-sm-4 bg-white">
            <img src="{% static 'images/leeloo_web_xs.png' %}"
              class="float-sm-start col-5 me-3 border border-2
              border-secondary py-0" alt="Leeloo Dallas CEO">
            <h1 class="display-6">Leeloo <span class="text-muted">"Multipass"</span> Dallas</h1>
            <h1>CEO</h1>
            <p class="lead m-0 h-50">
              Café au lait, plunger pot, in ut con panna mazagran roast aged. Aged, id mazagran chicory crema.
            </p>
            <p class="m-0 fs-6 fw-light">
              Skinny, turkish galão grounds, saucer acerbic mazagran cup cultivar wings rich. Cinnamon ut and rich crema skinny medium. Macchiato, frappuccino coffee id rich, whipped arabica cultivar mug plunger pot decaffeinated.Mocha dark that, viennese pumpkin spice, mug redeye dark mug affogato mazagran. Viennese, variety, at, body, fair trade coffee strong java aftertaste. Est mug french press kopi-luwak flavour, doppio cultivar macchiato whipped at body robusta. Lungo, dripper id cortado viennese, aftertaste espresso milk seasonal flavour. Viennese et carajillo, spoon id, cup eu robusta froth café au lait. Qui blue mountain in, beans.
            </p>
          </div>
        </div>
        <div class="col-lg-6 my-4">
          <div class="col-lg m-1 p-4 bg-white">
            <img src="{% static 'images/guybrush_web_xs.png' %}"
              class="float-sm-start col-5 me-3 border border-2
              border-secondary py-0" alt="Guybrush Threepwood CEO">
            <h1 class="display-6">Guybrush Threepwood</h1>
            <h1>President</h1>
            <p class="lead m-0">
              Bar cortado frappuccino, spoon kopi-luwak half and half carajillo café au lait caramelization, extarae room whip.
            </p>
            <p class="m-0 fs-6 fw-light">
              Pumpkin spice, brewed café au lait roast trifecta americano. That medium, single origin, caffeine ut cream, java that brewed breve saucer, affogato acerbic single shot filter mocha. Aftertaste, coffee brewed, espresso dripper breve espresso trifecta cappuccino, barista con panna irish cortado est flavour half and half. Lungo, dripper id cortado viennese, aftertaste espresso milk seasonal flavour. Viennese et carajillo, spoon id, cup eu robusta froth café au lait. Qui blue mountain in, beans chicory saucer, viennese crema wings ristretto mocha. Mocha dark. Viennese, variety, at, body, fair trade coffee java aftertaste. Extra foam, café au lait.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
