{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Work for Us!{% endblock %}
{% block main %}

<link rel="stylesheet" href="{% static 'css/bootstrap-multiselect(by_davidstutz).css' %}">
<script src="{% static 'js/bootstrap-multiselect(by_davidstutz).js' %}" ></script>
<script src="{% static 'js/bootstrap.min(dropdowns).js' %}" ></script>

<div class="card border-primary m-auto my-3 px-3 pt-3 pb-5"
  style="max-width: 50rem">
  <h3 class="text-center">Play2Learn Job Application</h2>
  {% comment %} <form method="POST" enctype="multipart/form-data" class="container post-form" name="job-form"> {% endcomment %}
  <form method="POST" enctype="multipart/form-data" class="container post-form" >
      {% csrf_token %}
      <div class="form-row d-flex">
        <div class="form-group col px-3">
          {{ form.job|as_crispy_field }}
        </div>
      </div>
      <div class="form-row d-flex">
        <div class="form-group col-md-6 px-3">
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 px-3">
          {{ form.last_name|as_crispy_field }}
        </div>
      </div>
      <div class="form-row d-flex">
        <div class="form-group col-md-6 px-3">
          {{ form.email|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 px-3">
          {{ form.website|as_crispy_field }}
        </div>
      </div>
      <div class="form-row d-flex">
        <div class="form-group col-md-6 px-3">
          {{ form.employment_type|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 px-3">
          {{ form.desired_hourly_wage|as_crispy_field }}
        </div>
      </div>
      <div class="form-row d-flex">
        <div class="form-group col-md-6 px-3 me-1">
          {{ form.start_date|as_crispy_field }}
        </div>

        <div class="form-group container col-md-6">
          <div id="div_id_available_days" class="row mb-3 m-0 me-2 p-0">
            <label for="id_available_days" class="form-label">Available Days to Work<span class="asteriskField">*</span></label>

            <select id="id_available_days" name="available_days" class="col select form-control text-start" multiple="multiple" >
              <option value="monday">Monday</option>
              <option value="tuesday">Tuesday</option>
              <option value="wednesday">Wednesday</option>
              <option value="thursday">Thursday</option>
              <option value="friday">Friday</option>
            </select>

          </div>
        </div>
{% comment %}
        <div class="form-group col-md-6 px-4">
          {{ form.available_days|as_crispy_field  }}
        </div>
{% endcomment %}
      </div>
      <div class="form-row d-flex">
        <div class="form-group col px-3">
          {{ form.cover_letter|as_crispy_field }}
        </div>
      </div>
      <div class="form-row d-flex">
        <div class="form-group col px-3">
          {{ form.resume|as_crispy_field }}
        </div>
      </div>
      <div class="form-row d-flex">
        <div class="form-group col px-4">
          {{ form.confirmation|as_crispy_field }}
        </div>
      </div>
      <div class="form-row d-flex">
        <div class="form-group col px-3">
          {% comment %}
          <button class="form-control btn btn-success">
            Apply
          </button>
          {% endcomment %}
          <button class="btn btn-success w-100">Submit</button>
        </div>
      </div>
  </form>
</div>
{% endblock %}
